{% extends "base.html" %}

{% block title %}সিএ রেজিস্ট্রেশন বন্ধ করা হয়েছে{% endblock %}

{% block content %}
<div class="utility-page-container">
        <div class="utility-content">
            <div class="utility-icon">
                <i class="fas fa-calendar-times"></i>
            </div>
            <h1 class="utility-title">সিএ রেজিস্ট্রেশন বন্ধ করা হয়েছে</h1>
            <p class="utility-subtitle">
                ১০ম এনসিজে-র জন্য ক্যাম্পাস এমবাসেডর হওয়ার আগ্রহের জন্য আপনাকে ধন্যবাদ! 
                <br><br>
                আমরা নিবন্ধন বন্ধ করে দিয়েছি এবং আমাদের ক্যাম্পাস এমবাসেডর নির্বাচন হয়ে গেছে। ভবিষ্যতের সুযোগের জন্য সাথে থাকুন!
            </p>
            <a href="index.html" class="button is-primary is-large">
                <i class="fas fa-home"></i>&nbsp; হোম
            </a>
        </div>
    </div>
{% endblock %}