{% extends "base.html" %}

{% block title %}CA Registration Closed - Festival Registration{% endblock %}

{% block content %}
<div class="utility-page-container">
        <div class="utility-content">
            <div class="utility-icon">
                <i class="fas fa-calendar-times"></i>
            </div>
            <h1 class="utility-title">CA Registration is Closed</h1>
            <p class="utility-subtitle">
                Thank you for your interest in becoming a Campus Ambassador for the 10th NCJ!
                <br><br>
                We have closed registrations and selected our ambassadors. Stay tuned for future opportunities!
            </p>
            <a href="index.html" class="button is-primary is-large">
                <i class="fas fa-home"></i>&nbsp; Back to Home
            </a>
        </div>
    </div>
{% endblock %}