{% extends "base.html" %}

{% block title %}Registration Closed - Festival Registration{% endblock %}

{% block content %}
<div class="utility-page-container">
        <div class="utility-content">
            <div class="utility-icon">
                <i class="fas fa-lock"></i>
            </div>
            <h1 class="utility-title">Registration is Closed</h1>
            <p class="utility-subtitle">
                Thank you for the overwhelming response! We have received a tremendous number of registrations.
                <br><br>
                See you at the fest!
            </p>
            <a href="{{ url_for('index') }}" class="button is-primary is-large">
                <i class="fas fa-home"></i>&nbsp; Back to Home
            </a>
        </div>
    </div>
{% endblock %}